---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: armory-tls
  namespace: {{ nginx_ingress_tls_namespace }}
spec:
  secretName: armory-tls
  duration: {{ nginx_ingress_cert_duration }}
  renewBefore: {{ nginx_ingress_cert_renew_before }}
  commonName: {{ nginx_ingress_domain }}
  dnsNames:
    - {{ nginx_ingress_domain }}
  ipAddresses:
    - {{ nginx_ingress_ip }}
  issuerRef:
    name: openbao-pki
    kind: ClusterIssuer
    group: cert-manager.io
