---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: headlamp-oidc-sync
  namespace: {{ headlamp_namespace }}
spec:
  type: kv-v2
  mount: {{ headlamp_openbao_kv_mount }}
  path: {{ headlamp_openbao_oidc_path }}
  destination:
    name: {{ headlamp_oidc_secret_name }}
    create: true
  vaultAuthRef: {{ headlamp_vault_auth_name }}
  refreshAfter: 30s
