---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ headlamp_vso_sa_name }}
  namespace: {{ headlamp_namespace }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: {{ headlamp_vault_auth_name }}
  namespace: {{ headlamp_namespace }}
spec:
  vaultConnectionRef: {{ headlamp_vault_connection_name }}
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: {{ headlamp_openbao_k8s_role }}
    serviceAccount: {{ headlamp_vso_sa_name }}
    audiences:
      - vault
