---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ headlamp_tls_secret_name }}
  namespace: {{ headlamp_namespace }}
spec:
  secretName: {{ headlamp_tls_secret_name }}
  duration: {{ headlamp_cert_duration }}
  renewBefore: {{ headlamp_cert_renew_before }}
  commonName: {{ headlamp_ingress_host }}
  dnsNames:
    - {{ headlamp_ingress_host }}
  issuerRef:
    name: {{ headlamp_tls_issuer_name }}
    kind: ClusterIssuer
    group: cert-manager.io
