---
apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: {{ keycloak_cr_name }}
  namespace: {{ keycloak_namespace }}
  labels:
    app.kubernetes.io/part-of: keycloak
spec:
  instances: {{ keycloak_instances }}
  bootstrapAdmin:
    user:
      secret: {{ keycloak_bootstrap_admin_secret_name }}
  db:
    vendor: postgres
{% if keycloak_pg_tls_enabled | bool %}
    url: "jdbc:postgresql://{{ keycloak_pg_service_fqdn }}:5432/{{ keycloak_db_name }}?sslmode={{ keycloak_pg_tls_verify_mode }}&sslrootcert={{ keycloak_pg_tls_ca_mount_path }}/{{ keycloak_pg_tls_ca_file_name }}"
{% else %}
    url: "jdbc:postgresql://{{ keycloak_pg_host }}:5432/{{ keycloak_db_name }}?sslmode=disable"
{% endif %}
    usernameSecret:
      name: {{ keycloak_db_secret_name }}
      key: username
    passwordSecret:
      name: {{ keycloak_db_secret_name }}
      key: password
  http:
    httpEnabled: false
    httpsPort: {{ keycloak_service_https_port }}
    tlsSecret: {{ keycloak_internal_tls_secret_name }}
  ingress:
    enabled: false
  hostname:
    hostname: {{ keycloak_public_base_url }}
    strict: {{ (keycloak_hostname_strict | bool) | string | lower }}
  proxy:
    headers: xforwarded
{% if keycloak_pg_tls_enabled | bool %}
  truststores:
    postgres:
      configMap:
        name: {{ keycloak_pg_tls_ca_configmap_name }}
{% endif %}
