---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: beeai-credentials-sync
  namespace: {{ beeai_tofu_namespace }}
spec:
  type: kv-v2
  mount: secret
  path: beeai/credentials
  destination:
    name: {{ beeai_vso_credentials_secret }}
    create: true
  vaultAuthRef: beeai-vaultauth
  refreshAfter: 30s
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: beeai-enckey-sync
  namespace: {{ beeai_tofu_namespace }}
spec:
  type: kv-v2
  mount: secret
  path: beeai/encryption-key
  destination:
    name: {{ beeai_vso_enckey_secret }}
    create: true
  vaultAuthRef: beeai-vaultauth
  refreshAfter: 30s
