---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ beeai_openbao_vso_sa_name }}
  namespace: {{ beeai_tofu_namespace }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: beeai-vaultauth
  namespace: {{ beeai_tofu_namespace }}
spec:
  vaultConnectionRef: default
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: {{ beeai_openbao_k8s_role }}
    serviceAccount: {{ beeai_openbao_vso_sa_name }}
    audiences:
      - vault
