apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ beeai_vso_kube_rbac_proxy_cert_name }}
  namespace: {{ beeai_vso_namespace }}
spec:
  secretName: {{ beeai_vso_kube_rbac_proxy_tls_secret_name }}
{% if beeai_vso_kube_rbac_proxy_cert_common_name is defined and (beeai_vso_kube_rbac_proxy_cert_common_name | trim | length) > 0 %}
  commonName: {{ beeai_vso_kube_rbac_proxy_cert_common_name }}
{% endif %}
  duration: {{ beeai_vso_kube_rbac_proxy_cert_duration }}
  renewBefore: {{ beeai_vso_kube_rbac_proxy_cert_renew_before }}
  issuerRef:
    name: {{ beeai_vso_kube_rbac_proxy_cert_issuer_name }}
    kind: {{ beeai_vso_kube_rbac_proxy_cert_issuer_kind }}
    group: {{ beeai_vso_kube_rbac_proxy_cert_issuer_group }}
  dnsNames:
{% for dns_name in beeai_vso_kube_rbac_proxy_cert_dns_names %}
    - {{ dns_name }}
{% endfor %}
