apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ vso_kube_rbac_proxy_cert_name }}
  namespace: {{ vso_namespace }}
spec:
  secretName: {{ vso_kube_rbac_proxy_tls_secret_name }}
{% if vso_kube_rbac_proxy_cert_common_name is defined and (vso_kube_rbac_proxy_cert_common_name | trim | length) > 0 %}
  commonName: {{ vso_kube_rbac_proxy_cert_common_name }}
{% endif %}
  duration: {{ vso_kube_rbac_proxy_cert_duration }}
  renewBefore: {{ vso_kube_rbac_proxy_cert_renew_before }}
  issuerRef:
    name: {{ vso_kube_rbac_proxy_cert_issuer_name }}
    kind: {{ vso_kube_rbac_proxy_cert_issuer_kind }}
    group: {{ vso_kube_rbac_proxy_cert_issuer_group }}
  dnsNames:
{% for dns_name in vso_kube_rbac_proxy_cert_dns_names %}
    - {{ dns_name }}
{% endfor %}
