---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: delve-db-sync
  namespace: {{ delve_namespace }}
spec:
  type: kv-v2
  mount: {{ delve_openbao_kv_mount }}
  path: {{ delve_openbao_db_path }}
  destination:
    name: {{ delve_db_secret_name }}
    create: true
  vaultAuthRef: {{ delve_vault_auth_name }}
  refreshAfter: 30s
