---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ delve_vso_sa_name }}
  namespace: {{ delve_namespace }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: {{ delve_vault_auth_name }}
  namespace: {{ delve_namespace }}
spec:
  vaultConnectionRef: {{ delve_vault_connection_name }}
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: {{ delve_openbao_k8s_role }}
    serviceAccount: {{ delve_vso_sa_name }}
    audiences:
      - vault
